pre {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

form {
  max-width: 40vw;

  input {
    line-height: 2rem;
  }

  button {
    width: fit-content;
    color: white;
    background-color: steelblue;
  }
}
